# Pandas Data Frame
### pandas是python常用的數據分析函示庫，2009年底開源，提供高效能、簡易使用的資料格式(Data Frame)讓使用者可以快速操作與分析資料

### 在異質數據的讀取轉換和處理上，讓分析人員更容易處理。例:從列、欄資料中找到想要的值

In [1]:
import pandas as pd

In [4]:
groups=["Modern Web","DevOps","Cloud","Big Data","Security","自我挑戰組"]
ironmen=[59,9,19,14,6,77]
ironmen_dict={"groups":groups,"ironmen":ironmen}
ironmen_df=pd.DataFrame(ironmen_dict)
ironmen_df

       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77

In [6]:
print(ironmen_df.sum()) #計算鐵人總數
print(ironmen_df.mean()) #計算平均鐵人數
print(ironmen_df.median()) #計算鐵人中位數
print(ironmen_df.describe()) #列出所有描述性統計

groups     Modern WebDevOpsCloudBig DataSecurity自我挑戰組
ironmen                                           184
dtype: object
ironmen    30.666667
dtype: float64
ironmen    16.5
dtype: float64
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [8]:
import numpy as np
groups=["Modern Web","DevOps",np.nan,"Big Data","Security","自我挑戰組"]
ironmen=[59,9,19,14,6,np.nan]
ironmen_dict={"groups":groups,"ironmen":ironmen}
ironmen_df=pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("---")
print(ironmen_df.loc[:,"groups"].isnull()) #loc:尋找空值(isnull)
print("---")
print(ironmen_df.loc[:,"ironmen"].notnull()) #不是空值(notnull)

       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
---
0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
---
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [9]:
ironmen_df.groups[ironmen_df.loc[:,"groups"].isnull()]="不知道名字組"
ironmen_df.ironmen[ironmen_df.loc[:,"ironmen"].notnull()]+=10
iromen_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       groups  iromen
0  Modern Web      59
1      DevOps       9
2       Cloud      19
3    Big Data      14
4    Security       6
5       自我挑戰組      77

In [3]:
import numpy as np
import pandas as pd
groups=["Modern Web","DevOps",np.nan,"Big Data","Security","自我挑戰組"]
ironmen=[59,9,19,14,6,np.nan]
ironmen_dict={"group":groups,"ironmen":ironmen}
ironmen_df=pd.DataFrame(ironmen_dict)
print(ironmen_df.loc[:,"group"].isnull()) # 判斷哪些組明是遺失值
print(ironmen_df.loc[:,"ironmen"].notnull()) # 判斷哪些組的人數不是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
Name: group, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [4]:
print(ironmen_df.group[ironmen_df.loc[:,"group"].isnull()])
print(ironmen_df.ironmen[ironmen_df.loc[:,"ironmen"].notnull()])

2    NaN
Name: group, dtype: object
0    59.0
1     9.0
2    19.0
3    14.0
4     6.0
Name: ironmen, dtype: float64

In [5]:
print(ironmen_df)
ironmen_df_droppes=ironmen_df.dropna()#刪除遺失值
print(ironmen_df_droppes)
ironmen_df_filled=ironmen_df.fillna(0)#遺失值填0
print(ironmen_df_filled)
ironmen_df_fillvalue=ironmen_df.fillna({"group":"Cloud","ironmen":71})
print(ironmen_df_fillvalue)

        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
3    Big Data     14.0
4    Security      6.0
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2           0     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      0.0
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2       Cloud     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組     71.0