# Chap6-1 dataFrame loc, iloc
### DatqaFrame比 numpy ndarray(element-wise)提供資料統整的功能
### DataFrame通常為2維資料
### 橫的為列(索引index)，值的為欄(coiumn)

In [2]:
# 隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame=pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.256971  0.175571  0.789711  0.298001
b  0.278965  0.189342  0.821875  0.165805
c  0.650375  0.599477  0.510537  0.767304
d  0.314775  0.483396  0.389120  0.441909

In [4]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.375271  0.361947  0.627811  0.418255
std    0.184943  0.212680  0.211817  0.258577
min    0.256971  0.175571  0.389120  0.165805
25%    0.273466  0.185899  0.480182  0.264952
50%    0.296870  0.336369  0.650124  0.369955
75%    0.398675  0.512416  0.797752  0.523258
max    0.650375  0.599477  0.821875  0.767304

### loc用欄位來找出(定位)DataFrame的資料
### iloc用索引來找出(定位)DataFrame的資料
### .loc用[欄,列]來找出(定位)DataFrame的資料

In [6]:
frame.loc['a','A']

0.25697145129764676

In [10]:
# 取前兩列之資料
frame.loc['a':'b',:]

          A         B         C         D
a  0.256971  0.175571  0.789711  0.298001
b  0.278965  0.189342  0.821875  0.165805

In [9]:
# 取前兩欄之資料
frame.loc[:,'A':'B']

          A         B
a  0.256971  0.175571
b  0.278965  0.189342
c  0.650375  0.599477
d  0.314775  0.483396

In [13]:
# 取特殊列、欄的資料
print(frame.loc[['a','d'],:])
print(frame.loc[:,['A','D']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.256971  0.175571  0.789711  0.298001
d  0.314775  0.483396  0.389120  0.441909
          A         D
a  0.256971  0.298001
b  0.278965  0.165805
c  0.650375  0.767304
d  0.314775  0.441909
          A         D
a  0.256971  0.298001
d  0.314775  0.441909

### iloc是利用列索引與欄索引進行資料定位，都是從0開始

In [14]:
frame.iloc[0,0]

0.25697145129764676

In [16]:
# 取前兩列的資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.256971  0.175571  0.789711  0.298001
b  0.278965  0.189342  0.821875  0.165805

In [17]:
# 取前兩列、兩欄之資料
frame.iloc[0:2,0:2]

          A         B
a  0.256971  0.175571
b  0.278965  0.189342

In [18]:
# 取特殊列、欄的資料
print(frame.iloc[[0,3],:])
print(frame.iloc[:,[0,3]])
print(frame.iloc[[0,2],[0,2]])

          A         B         C         D
a  0.256971  0.175571  0.789711  0.298001
d  0.314775  0.483396  0.389120  0.441909
          A         D
a  0.256971  0.298001
b  0.278965  0.165805
c  0.650375  0.767304
d  0.314775  0.441909
          A         C
a  0.256971  0.789711
c  0.650375  0.510537