# pandas載入檔案
## 本地端載入csv檔案

### iris(鳶尾花)資料集
sepal(花萼), petal(花瓣)


!["iris"]()

import pandas as pd
iris_df=pd.read_csv("iris.csv")
iris_df.head()

# 雲端載入csv檔案

In [7]:
url="https://raw.githubusercontent.com/shhuangmust/python/master/iris.csv"
iris_df=pd.read_csv(url)
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# 雲端載入excel檔案

In [8]:
url="https://github.com/shhuangmust/python/raw/master/iris.xlsx"
iris_df=pd.read_excel(url)
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# 超級商店superstore範例

In [10]:
url="https://raw.githubusercontent.com/shhuangmust/python/master/superstore.csv"
superstore_df=pd.read_csv(url,encoding="big5")
superstore_df.head()

   Row ID        Order ID  Order Date   Ship Date  ...     Sales Quantity Discount    Profit
0       1  CA-2016-152156   2016/11/8  2016/11/11  ...  261.9600        2     0.00   41.9136
1       2  CA-2016-152156   2016/11/8  2016/11/11  ...  731.9400        3     0.00  219.5820
2       3  CA-2016-138688   2016/6/12   2016/6/16  ...   14.6200        2     0.00    6.8714
3       4  US-2015-108966  2015/10/11  2015/10/18  ...  957.5775        5     0.45 -383.0310
4       5  US-2015-108966  2015/10/11  2015/10/18  ...   22.3680        2     0.20    2.5164

[5 rows x 21 columns]

# superstore資訊

In [11]:
superstore_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
Row ID           9994 non-null int64
Order ID         9994 non-null object
Order Date       9994 non-null object
Ship Date        9994 non-null object
Ship Mode        9994 non-null object
Customer ID      9994 non-null object
Customer Name    9994 non-null object
Segment          9994 non-null object
Country          9994 non-null object
City             9994 non-null object
State            9994 non-null object
Postal Code      9994 non-null int64
Region           9994 non-null object
Product ID       9994 non-null object
Category         9994 non-null object
Sub-Category     9994 non-null object
Product Name     9994 non-null object
Sales            9994 non-null float64
Quantity         9994 non-null int64
Discount         9994 non-null float64
Profit           9994 non-null float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [14]:
st1=superstore_df[["Sales","Quantity","Profit"]]
st1.describe()

              Sales     Quantity       Profit
count   9994.000000  9994.000000  9994.000000
mean     229.858001     3.789574    28.656896
std      623.245101     2.225110   234.260108
min        0.444000     1.000000 -6599.978000
25%       17.280000     2.000000     1.728750
50%       54.490000     3.000000     8.666500
75%      209.940000     5.000000    29.364000
max    22638.480000    14.000000  8399.976000

# 交易獲利率最高的金額為何

In [15]:
superstore_df["Profit"].max()

8399.976

# 獲利最高的前1000筆資料，期平均獲利為何

In [21]:
st2= superstore_df.sort_values(by="Profit")
#st2.head() 獲利資料由小排到大，要找獲利最高的前1000筆資料，要從後面找起
st2.iloc[-1000:]["Profit"].mean()#獲利最高的前1000筆，期平均獲利為310.485698

310.4856984000003

# 單筆總交易金額最高為何

In [23]:
superstore_df.groupby(by="Order ID").sum()["Sales"].max()

23661.228